* {
    margin: 0 auto;
}

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 12.5%;

}

.header-container {
    max-width: 1366px;

}

/* ----------------------------------------------------
-------------------------------------------------------
============== Navigation Bar Styles ==================
-------------------------------------------------------
---------------------------------------------------- */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 102px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin: 0;
    width: 60%;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    gap: 10px;
    width: 40%;
}

.nav-menu>div {
    margin: 0;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #424242;
}

/* ----------------------------------------------------
-------------------------------------------------------
================= Banner Area Styles ==================
-------------------------------------------------------
---------------------------------------------------- */

.banner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner-title-info {
    padding: 0 13%;
    margin-bottom: 25px;
}

.banner-title {

    margin-bottom: 32px;
    font-weight: 700;
    font-size: 64px;
    color: #131313;

}

.banner-description {

    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;


}

.btn-submit {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 15px 20px;
    height: 50px;
    border: 0;
    border-radius: 8px;
    margin-bottom: 50px;
}

.btn-submit:hover {
    background-color: #ffa135;
}

.banner-image {}

.banner-image img {
    width: 100%;
}

/* ===================================================
                    Main Body Styles
==================================================== */
main {
    max-width: 1366px;
    padding: 50px 13%;
    margin: 40px 0 60px 0;
}

/* ----------------------------------------------------
Quick List Area Styles
---------------------------------------------------- */
.quick-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;

}

.list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 55%;
}

.list-images img {
    width: 100%;
}

.list-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin-left: 40px;
    padding-right: 60px;

}

.list-content>div {
    margin: 0;
}

.list-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
}

.list-title .gray {
    color: #727272;
}

.list-title .orange {
    color: #FF900E;
}

.list-description {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

/* ----------------------------------------------------
Features Area Styles
---------------------------------------------------- */

.features-container {
    display: flex;
    margin-top: 110px;
}

.features-info {
    width: 45%;
}

.line-and-title {
    display: flex;
    margin: 0 0 20px 0;
    align-items: center;
}


.line-and-title>div {
    margin: 0;
}

.line-and-title .vl {
    border-left: 6px solid #FF900E;
    height: 88px;
    margin: 0;
}


.features-title {
    font-weight: 700;
    font-size: 35px;
    color: #131313;
    padding-right: 130px;
    margin-left: 20px;
}

.features-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.box-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box {
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #1313132d;
}

.box-title {
    font-weight: 600;
    font-size: 20px;
    color: rgb(19, 19, 19);
    margin-bottom: 10px;
}

.box-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.features-image {
    width: 55%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.features-image img {
    width: 95%;
    position: absolute;
    right: 0;
}

.experience {
    height: 100px;
    border: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 27px;


}

/* ----------------------------------------------------
Some Facts Styles
---------------------------------------------------- */

.some-facts-container {
    display: flex;
    flex-direction: column;
}

.some-facts-header {
    margin: 35px 0;
    padding-right: 47%;
}

.some-facts-header>div {
    margin-bottom: 10px;
}

.some-facts-title {

    font-weight: 700;
    font-size: 40px;
    color: #131313;
}

.some-facts-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.facts-box-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 94%;
}

.facts-box-container > div{
    margin: 0;
}

.box-size{
    width: 15%;
}
.facts-box{
    border: 2px solid #FF900E;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s linear;
}

.facts-box h3 {
    font-weight: 600;
    font-size: 30px;
    color: #424242;
}

.facts-box p {
    font-weight: 600;
    font-size: 16px;
    color: #727272;
}

.facts-box-1:hover .anim-1{
    transform: translateX(15%)
}
.facts-box-2:hover .anim-2{
    transform: translateX(15%)
}
.facts-box-3:hover .anim-3{
    transform: translateX(15%)
}
.facts-box-4:hover .anim-4{
    transform: translateX(15%)
}

/* ----------------------------------------------------
Extra Section: Our Experts Styles
---------------------------------------------------- */

.experts-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #fcf1e1;
    border: 0;
    border-radius: 5px;
    padding: 0 10%;
}

.experts-header{
    margin: 35px 0;
    padding-right: 40%;
}

.experts-header > div{
    margin-bottom: 10px;
}

.experts-title {

    font-weight: 700;
    font-size: 40px;
    color: #131313;
}

.experts-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.experts-box-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.experts-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.experts-box img{
    width: 100%;
}

.experts-box div{
    margin-bottom: 10px;
}

.experts-box h3 {
    font-weight: 600;
    font-size: 20px;
    
}
.experts-box h3 a{
    text-decoration: none;
    color: #FF900E;
}
/* ----------------------------------------------------
Sponsors Area Styles
---------------------------------------------------- */

.sponsors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0 0 0;
}

.sponsors-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 25%;
}

.sponsors-header>div {
    margin-bottom: 15px;
}

.sponsors-title {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}

.sponsors-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
}

.sponsors-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.sponsors-logo>div {
    margin: 0 35px;
}

.sponsors-logo img {
    filter: grayscale(100%);
    width: 100%;

}

/* ----------------------------------------------------
Footer Area Styles
---------------------------------------------------- */

footer {
    background: #FFF4E7;
    border: 0;
    border-radius: 8px;
    text-align: center;
    margin: 40px 171px;
}

footer p {
    font-weight: 400;
    font-size: 18px;
    color: #424242;
    padding: 30px 20%;
}

/* ---------------------------------------------------
Responsive Styles
--------------------------------------------------- */

@media screen and (max-width: 576px) {
    header{
        padding: 20px 5%;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
    }
    .nav-title{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .nav-menu{
        width: 100%;
        padding: 0 15px;
    }

    .banner-title {
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 28px;

    }

    .banner-info{
        font-size: 15px;
    }
    main{
        padding: 20px 5%;
    }

    .quick-list-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .list-images{
        width: 100%;
    }

    .list-content{
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        padding-right: 0;
    }
    .list-title{
        font-size: 30px;
    }

    .features-container{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .features-info{
        width: 100%;
    }
    .line-and-title .vl{
        height: 62px;
    }
    .features-title{
        font-size: 27px;
    }

    .features-image{
        width: 100%;
    }
    .features-image img{
        width: 100%;
        position: static;
    }

    .some-facts-header{
        padding-right: 0;
    }

    .some-facts-title{
        font-size: 30px;
    }

    .facts-box-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .box-size{
        width: 75%;
    }
    .experts-container{
        padding: 0 3%;
    }
    .experts-header{
        padding-right: 0;
    }

    .experts-title{
        font-size: 30px;
    }

    .experts-box-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sponsors-container{
        margin: 50px 0 0 0;
    }

    .sponsors-header{
        padding: 0 3%;
    }

    .sponsors-logo{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }


    footer{
        margin: 40px 3%;
    }

    footer p{
        font-size: 16px;
        padding: 15px;
    }
}