* {
    margin: 0 auto;
}

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 162px;

}

.header-container {
    max-width: 1366px;

}

/* ----------------------------------------------------
-------------------------------------------------------
============== Navigation Bar Styles ==================
-------------------------------------------------------
---------------------------------------------------- */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 102px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin: 0;
    width: 60%;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    gap: 10px;
    width: 40%;
}

.nav-menu>div {
    margin: 0;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #424242;
}

/* ----------------------------------------------------
-------------------------------------------------------
================= Banner Area Styles ==================
-------------------------------------------------------
---------------------------------------------------- */

.banner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner-title-info {
    padding: 0 130px;
    margin-bottom: 25px;
}

.banner-title {

    margin-bottom: 32px;
    font-weight: 700;
    font-size: 64px;
    color: #131313;

}

.banner-description {

    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;


}

.btn-submit {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 15px 20px;
    height: 50px;
    border: 0;
    border-radius: 8px;
    margin-bottom: 50px;
}

.btn-submit:hover {
    background-color: #ffa135;
}

.banner-image {}

.banner-image img {
    width: 100%;
}

/* ===================================================
                    Main Body Styles
==================================================== */
main {
    max-width: 1366px;
    padding: 50px 171px;
    margin: 40px 0 60px 0;
}

/* ----------------------------------------------------
Quick List Area Styles
---------------------------------------------------- */
.quick-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;

}

.list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 55%;
}

.list-images img {
    width: 100%;
}

.list-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin-left: 40px;
    padding-right: 60px;

}

.list-content>div {
    margin: 0;
}

.list-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
}

.list-title .gray {
    color: #727272;
}

.list-title .orange {
    color: #FF900E;
}

.list-description {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

/* ----------------------------------------------------
Features Area Styles
---------------------------------------------------- */

.features-container {
    display: flex;
    margin-top: 110px;
}

.features-info {
    width: 45%;
}

.line-and-title {
    display: flex;
    margin: 0 0 20px 0;
    align-items: center;
}


.line-and-title>div {
    margin: 0;
}

.line-and-title .vl {
    border-left: 6px solid #FF900E;
    height: 88px;
    margin: 0;
}


.features-title {
    font-weight: 700;
    font-size: 35px;
    color: #131313;
    padding-right: 130px;
    margin-left: 20px;
}

.features-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.box-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box {
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #1313132d;
}

.box-title {
    font-weight: 600;
    font-size: 20px;
    color: rgb(19, 19, 19);
    margin-bottom: 10px;
}

.box-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.features-image {
    width: 55%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.features-image img {
    width: 95%;
    position: absolute;
    right: 0;
}

.experience {
    height: 100px;
    border: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 27px;


}

/* ----------------------------------------------------
Some Facts Styles
---------------------------------------------------- */

.some-facts-container {
    display: flex;
    flex-direction: column;
}

.some-facts-header {
    margin: 35px 0;
    padding-right: 47%;
}

.some-facts-header>div {
    margin-bottom: 10px;
}

.some-facts-title {

    font-weight: 700;
    font-size: 40px;
    color: #131313;
}

.some-facts-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.facts-box-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.facts-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #FF900E;
    border-radius: 5px;
    width: 15%;
    padding: 20px;
}

.facts-box h3 {
    font-weight: 600;
    font-size: 35px;
    color: #424242;
}

.facts-box p {
    font-weight: 600;
    font-size: 18px;
    color: #727272;
}

.facts-box:hover {
    background-color: #FF900E;
    color: #FFFFFF;
    border: 2px solid #FF900E;
    border-radius: 5px;
}

/* ----------------------------------------------------
Sponsors Area Styles
---------------------------------------------------- */

.sponsors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0 0 0;
}

.sponsors-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 25%;
}

.sponsors-header>div {
    margin-bottom: 15px;
}

.sponsors-title {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}

.sponsors-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
}

.sponsors-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.sponsors-logo>div {
    margin: 0 35px;
}

.sponsors-logo img {
    filter: grayscale(100%);
    width: 100%;

}

/* ----------------------------------------------------
Footer Area Styles
---------------------------------------------------- */

footer {
    background: #FFF4E7;
    border: 0;
    border-radius: 8px;
    text-align: center;
    margin: 40px 171px;
}

footer p {
    font-weight: 400;
    font-size: 18px;
    color: #424242;
    padding: 30px 20%;
}